@use '../util/utilForward' as *;
@use '../global/darkMode' as *;

.cursor{
    position: fixed;
    left: 0;
    top: 0;
    width:20px;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--cursorOutline);
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background;
    z-index: 10000;
}
.inner-circle{
    width:14px;
    height:14px;
    border-radius: 50%;
    background-color:var(--cursorInnerCircle);
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background;
    z-index: 10000;
}
.hover-links {
    background-color: var(--cursorInnerCircle);
}
.hover-links .inner-circle{
    background-color: var(--cursorOutline);
}
@media  only screen and (max-width:1200px){
    .cursor{
        display: none;
    }
}