@use '../util/_colors.scss' as *;

.light-mode{
    --primaryCWM: #{$primaryCWM};
    --primaryNavCDM:#{$primaryCWM};
    --primaryTCWM: #{$primaryTCWM};
    --accentTCWM: #{$accentTCWM};
    --navBackgroundC:#{$navBackgroundC};
}

@media (prefers-color-scheme: dark){
    :root{
        --primaryCWM:#{$primaryCDM};
        --primaryNavCDM:#4F4F4F;
        --primaryTCWM:#{$primaryTCDM};
        --navBackgroundC:#{$navBackgroundCDM};
       // --inputLines:#{$inputLinesDarkMode};
    }
}
.dark-mode{
    --primaryCWM:#{$primaryCDM};
    --primaryNavCDM:#4F4F4F;
    --primaryTCWM:#{$primaryTCDM};
    --navBackgroundC:#{$navBackgroundCDM};
    //--inputLines:#{$inputLinesDarkMode};
}