@use '../util/_colors.scss' as *;

.light-mode{
    --primaryCWM: #{$primaryCWM};
    --primaryNavCDM:#{$primaryCWM};
    --primaryTCWM: #{$primaryTCWM};
    --accentTCWM: #{$accentTCWM};
    --navBackgroundC:#{$navBackgroundC};
    --miniNavWBC:hsla(0, 0%, 70%, .5);
    --cursorOutline:#{$cursorOutline};
    --cursorInnerCircle:#{$cursorInnerCircle};
}
.dark-mode{
    --primaryCWM:#{$primaryCDM};
    --primaryNavCDM:#4F4F4F;
    --primaryTCWM:#{$primaryTCDM};
    --navBackgroundC:#{$navBackgroundCDM};
    --miniNavWBC:#{$miniNavWBC};
    --cursorOutline:#{$cursorOutline};
    --cursorInnerCircle:#{$cursorInnerCircle};
}