@use '../util/_utilForward.scss' as *;
@use '../global/_globalForward.scss' as *;

#miniNavWrapper{
    position: fixed;
    left:3rem;
    bottom:3rem;
    @include flex(column, space-evenly, center);
    width:100px;
    height:100px;
    background-color: var(--miniNavWBC);
    border-radius: 20px;
    z-index: 5000;
}
#white-dark-mode-button-wrapper{
    width:100%;
    height:unset;
}
#go-to-main-page-wrapper{
    @include flex(row, center,center);
    background-color: #E5E5E7;
    width:50px;
    height:25px;
    border-radius: 20px;
}

//Responsive from 1200px to 993px
@media  only screen and (max-width:1200px){
    #miniNavWrapper{
        left:2rem;
        bottom:2rem;
    }
}

//Responsive from 767px to 576px
@media  only screen and (max-width:767px){
    #miniNavWrapper{
        left:1.5rem;
        bottom:1.5rem;
    }
}

//Responsive below 576px
@media  only screen and (max-width:576px){
    #miniNavWrapper{
        left:1rem;
        bottom:1rem;
    }
}