@use '../util/_utilForward.scss' as *;
@use '../global/_globalForward.scss' as *;

#miniNavWrapper{
    position: fixed;
    left:3rem;
    bottom:3rem;
    @include flex(column, space-evenly, center);
    width:100px;
    height:100px;
    background-color: $miniNavBC;
    border-radius: 20px;
    z-index: 5000;
}
#white-dark-mode-button-wrapper{
    width:100%;
    height:unset;
}
#go-to-main-page-wrapper{
    @include flex(row, center,center);
    background-color: #E5E5E7;
    width:50px;
    height:25px;
    border-radius: 20px;
}