@use '../util/_utilForward.scss' as *;
@use '../global/_globalForward.scss' as *;

#sphere-pop-up-background{
    position: fixed;
    top:0;
    left:0;
    @include flex(row,center,center);
    width:100%;
    height:100%;
    z-index: 1000;
    display:none;
    background-color: hsla(0, 0%, 15%, 0.8);
}
#sphere-pop-up-wrapper{
    width:1000px;
    height:600px;
    position: relative;
    @include flex(column, center,center);
    background: radial-gradient(96.04% 319.91% at 13.65% 21.63%, #D6D6D6 0%, rgba(200, 200, 200, 0.27) 100%) ;
    z-index: 1001;
    overflow-x: hidden;
}
#close-popUp{
    position: absolute;
    top:-30px;
    right:10px;
    @include flex(row,center,center);
    font-size:2.5rem;  
    width:30px;
    height:30px;
    line-height:0rem;
    transform: rotate(45deg);
}
#sphere-pop-up-title{
    font-size: rem($ntF - 5);
}