@use '../util/_utilForward.scss' as *;
@use '../global/_globalForward.scss' as *;
@use '../layout/_layoutForward.scss' as *;

body{
    background-color: var(--primaryCWM);
}

#starter-div{
    @include flex(column, flex-start, center);
    width:100%;
    height:100%;
}
#first-image{
    width:100%;
    height:auto;
}
#starter-heading-wrapper{
    @include flex(row, center, center);
    width:100%;
    height:100%;
}
#starter-title{
    font-size:rem($ntF);
    letter-spacing: $bLetterSpasing;
}

#starter-text-wrapper{
    @include flex(column, center, center);
    width:100%;
    height: unset;
    margin-bottom: 100px;
}
#starter-text{
    width:800px;
    font-size: rem($nF);
    text-align: center;
    margin:0;
} 
