@use '../util/colors' as c;

.cursor{
    position: fixed;
    left: 0;
    top: 0;
    width:20px;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: c.$cursorOutline;
    transition-timing-function: ease;
    transition-duration: 0.6s;
    transition-property: background;
    z-index: 100;
}
.hover-links{
    background-color: c.$cursorOutlineHoverLinks;
    z-index: 100;
}