h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'TeX Gyre Adventor Bold';
}
a, p{
    font-family: 'sf_pro_displaythin';
}
::selection {
    color:var(--accentTCWM);
    background-color: var(--primaryCWM);
}