$primaryCWM: #E5E5E7; //primary color in white mode
$primaryTCWM:#000000; //primary text color in white mode
$navBackgroundC:hsla(240, 4%, 90%,.7); //primary color for the nav background in white mode
$inputLines:#848484;//the lines bellow the inputs in the form in white mode
$miniNavWBC:hsla(0, 0%, 50%, .5);
$cursorOutline:rgba(149, 149, 149, 1);
$cursorInnerCircle:rgba(188, 188, 188, 1);

$primaryCDM: #525252; //primary color in dark mode
$primaryNavCDM:#E5E5E7; //primary nav color in dark mode
$primaryTCDM:#ffffff; //primary text color in dark mode
$navBackgroundCDM:hsla(0, 0%, 32%,0.7);//primary color for the nav background in dark mode
$inputLinesDarkMode:#E5E5E7;//the lines bellow the inputs in the form in white mode

$accentTCWM: #DAA520; //it will not change no matter the color mode


:root{
    --primaryCWM: #{$primaryCWM};
    --primaryTCWM: #{$primaryTCWM};
    --accentTCWM: #{$accentTCWM};
    --navBackgroundC:#{$navBackgroundC};
    --inputLines:#{$inputLines};
    --primaryNavCDM:#{$primaryNavCDM};
    --miniNavWBC:#{$miniNavWBC};
    --cursorOutline:#{$cursorOutline};
    --cursorInnerCircle:#{$cursorInnerCircle};
}