@use '../util/_colors.scss' as *;

.light-mode{
    --primaryCWM: #{$primaryCWM};
    --primaryNavCDM:#{$primaryCWM};
    --primaryTCWM: #{$primaryTCWM};
    --accentTCWM: #{$accentTCWM};
    --navBackgroundC:#{$navBackgroundC};
    --miniNavWBC:hsla(0, 0%, 70%, .5);
}

@media (prefers-color-scheme: dark){
    :root{
        --primaryCWM:#{$primaryCDM};
        --primaryNavCDM:#4F4F4F;
        --primaryTCWM:#{$primaryTCDM};
        --navBackgroundC:#{$navBackgroundCDM};
        --miniNavWBC:#{$miniNavWBC};
    }
}
.dark-mode{
    --primaryCWM:#{$primaryCDM};
    --primaryNavCDM:#4F4F4F;
    --primaryTCWM:#{$primaryTCDM};
    --navBackgroundC:#{$navBackgroundCDM};
    --miniNavWBC:#{$miniNavWBC};
}